html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000000, #7d9fda);
  background-attachment: fixed;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
}
.header {
  padding-bottom: 80px;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}
.header__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  background: linear-gradient(133deg, #f8f8f8 0%, #50b2fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 193%;
  text-transform: uppercase;
  color: rgb(194, 194, 194);
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #ffffff;
}

.nav__link--btn {
  width: 135px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #2a628f;
  border-radius: 50px;
  background-color: transparent;
  color: #00f7ff;
  transition: all 0.3s ease;
}

.nav__link--btn:hover {
  background-color: #2a628f;
  color: #fff;
  border: 2px solid #2a628f;
  cursor: pointer;
}

/* hero section */
.main-img {
  width: 500px;
  height: auto;
}
.main-content {
  display: flex;
  margin: 0 60px;
}

.intro-title {
  font-size: 46px;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #0077b6);
  -webkit-background-clip: text;
  color: transparent;
}
.highlight {
  font-size: 66px;
}
#span-community {
  font-size: 31px;
}
.intro-description {
  background: linear-gradient(to right, #ffffff, #0283c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;

  max-width: 550px;
  margin-bottom: 70px;
}
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.footer__text {
  color: white;
}

.social-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: -50px;
}

.social-list {
  list-style: none;
}
.social-link {
  color: rgb(197, 197, 197);
}

.social-link:hover {
  color: rgb(255, 153, 0);
}
/*Auth*/

/*section-events*/
.section-events {
  display: flex;
}
.message {
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.message--error {
  border-left: 5px solid #d32f2f;
  color: #d32f2f;
  width: 250px;
}
.message__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(255, 25, 0);
}

.message__text {
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: -0.03em;
  background: linear-gradient(133deg, #ffffff 0%, #8b8b8d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 65px;
  text-align: center;
}

.message__link {
  text-decoration: none;
}

.message__button {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid #2a628f;
  border-radius: 50px;
  background-color: transparent;
  color: #00f7ff;
  transition: all 0.3s ease;
}

.message__button:hover {
  background-color: #0056b3;
}

.footer-events {
  margin-top: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
}
/*grid-img*/

.img-grid {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
  cursor: pointer;
}
.img-grid-list {
  width: 300px;
  height: 210px;
  border-radius: 5px;
}
/*login*/

.login-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 35px;
}

.login-info {
  max-width: 550px;
  margin-bottom: 50px;
}
.span-login {
  font-size: 46px;
}

.login-main-text {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #0077b6, #90e0ef);
  -webkit-background-clip: text;
  color: transparent;
}

.login-main-paragrath {
  font-weight: bold;
  background: linear-gradient(to right, #92d3f7, #7aa1a8);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 400px;
  margin-bottom: 60px;
}

.social-login-items {
  display: flex;
  align-items: center;
  gap: 35px;
}
.social-link-items svg,
.social-link svg {
  transition: fill 0.3s ease-in-out;
}

.social-link-items:hover svg,
.social-link:hover svg {
  fill: #ffffff;
}

.login-social {
  margin-left: -40px;
}

.login-svg:hover {
  color: black;
}
.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  color: white;
  font-weight: bold;
}

.login-form input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: transparent;
  color: white;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#login-btn {
  width: 100%;
  padding: 10px;
  background: transparent;

  border: 2px solid #2a628f;
  border-radius: 4px;
  cursor: pointer;
  color: #00f7ff;
  transition: all 0.3s ease;
}

#login-btn:hover {
  background-color: #2a628f;
  color: #fff;
  border: 2px solid #2a628f;
  cursor: pointer;
}
.nav__bar--login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
/*register*/
.register-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.register-info {
  max-width: 550px;

  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-main-text {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #0077b6, #90e0ef);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.register-main-paragrath {
  font-weight: bold;
  background: linear-gradient(to right, #92d3f7, #7aa1a8);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 400px;
  margin-bottom: 60px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #0077b6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005f8a;
}

/*singup*/

.center-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-btn {
  width: 135px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #2a628f;
  border-radius: 50px;
  background-color: transparent;
  color: #00f7ff;
  transition: all 0.3s ease;
  margin-left: 132px;
}

.register-btn:hover {
  background-color: #2a628f;
  color: #fff;
  border: 2px solid #2a628f;
  cursor: pointer;
}
/*events*/

/* Stil general pentru container */
.events-info {
  width: 400px;

  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-event {
  width: 400px;
  height: auto;
  border-radius: 25px;
}

/* Stil pentru titlul principal */

.events-info__main-text {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Stil pentru paragraful introductiv */
.events-info__main-paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-bottom: 20px;
}

/* Grupurile din formular */
.events-form__group {
  margin-bottom: 15px;
  text-align: left;
}

/* Etichetele */
.events-form__label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Câmpurile de input și textarea */
.events-form__input,
.events-form__textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

.events-form__textarea {
  height: 80px;
  resize: none;
}

/* Placeholder stilizat */
.events-form__input::placeholder,
.events-form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Stil pentru buton */
.events-form__button {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #2a628f;
  border-radius: 4px;
  cursor: pointer;
  color: #00f7ff;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Efect hover pe buton */
.events-form__button:hover {
  background-color: #2a628f;
  color: #fff;
  border: 2px solid #2a628f;
}

/* Container pentru secțiunea evenimentelor */
.events-section {
  margin-bottom: 55px;
}
.events-main {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.events-main__header {
  display: flex;
  flex-direction: column;
}

.events-main__title {
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(133deg, #f8f8f8 0%, #50b2fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.events-main__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(133deg, #f8f8f8 0%, #50b2fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.events-main__benefits {
  background: linear-gradient(133deg, #f8f8f8 0%, #50b2fd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 6mm;
}

/*events postari*/

.events-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.event-description {
  font-size: 18px;
  color: #000000;
  margin: 10px 0;
}

.date {
  font-style: italic;
  color: #555;
}
/*experiment coment*/

/* Stil pentru formularul de comentarii */
.comment-form {
  position: relative;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

.comment-form button {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

/* Stil pentru secțiunea de comentarii */
.card-title {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(83, 83, 83)
  ); /* Gradient de la roșu la albastru */
  -webkit-background-clip: text; /* Aplică gradientul pe text */
  color: transparent; /* Face textul transparent, pentru a lăsa gradientul să fie vizibil */
}

.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 40px;
}
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(133deg, #f8f8f8 0%, #91b7d4 100%);
  height: 100%;
}

.comments-section {
  max-height: 50px; /* Poți ajusta înălțimea pentru a se potrivi mai bine cu designul tău */
  overflow-y: auto; /* Adaugă scroll pe verticală atunci când numărul de comentarii este prea mare */
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 10px;
}
.coments-action {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
/* Stil pentru comentarii */
.comment {
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

.comment-form button:hover {
  background-color: #45a049; /* Culoare mai închisă la hover */
}

.event-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  background-color: #50b2fd;
}

.no-events {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 35px;
}
/* Responsive Design */
